.idea/
.settings/
.vscode/

.classpath
.DS_Store
.jenkins
.project
*.bak
*.bk
*.core
*.exe
*.hprof
*.iml
*.ipr
*.iws
*.log
*.mdmp
*.o
*.rar
*.tar.gz
*.temp
*.tmp
*.war
*.zip

local.properties
Thumbs.db
